 {
    ApplicationName = "Workspace";
    ApplicationDescription = "The Gershwin Desktop Experience";
    ApplicationIcon = "Workspace.png";
    ApplicationRelease = "20260103";
    NSBuildVersion = "01 2026";
    CFBundleIdentifier = "org.gnustep.Workspace";
    Authors = (
      "Simon Peter",
      "Joseph Maloney",
      
      "",
      "Based on Workspace by:",
      "Riccardo Mottola",
      "Enrico Sersale",
      "Documentation and Help contents by:",
      "Dennis Leeuw <dleeuw@made-it.com>"
    );
    URL = "https://www.github.com/gershwin-desktop/gershwin-desktop";
    Copyright = "Workspace Copyright (C) 2003-2026 Free Software Foundation, Inc.";
    CopyrightDescription = "Released under the GNU General Public License 2.0 or later";
    NSIcon = "Workspace.png";
    NSRole = "Viewer";
    NSServices = (
      {
        NSMenuItem = {
          English = "Open in Workspace";
          German = "In Workspace \U00F6ffnen";
	  French = "Ouvrir dans Workspace";
	  Italian = "Aprire in Workspace";
          default = "Open in Workspace";
        };
        NSMessage = openInWorkspace;
        NSPortName = Workspace;
        NSSendTypes = ( NSStringPboardType );
      }
    );
    NSTypes = (
    {
      NSUnixExtensions = ( "inspector" );
      NSIcon = "MagnifyGlas.tiff";
    },
      {
        NSUnixExtensions = ( "lsf" );
        NSIcon = "LiveSearchFolder.tiff";
      },
      {
	NSUnixExtensions = ( "webloc" );
	NSIcon = "FileIcon_WebLink.tiff";
      }
  );
}
